::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(34, 34, 34, 0.19);
}
::-webkit-scrollbar-thumb {
  background: $base-color;
}
input::-webkit-input-placeholder{
  color: $base-color;
  opacity:0.8;
}
* {
  outline: none;
}
html, body, .wrapper, .sidebar {
  height: 100%;
  margin: 0;
  padding: 0;
}
small {
  font-size: 12px;
  color: #999;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: $base-color;
  &:visited {
    color: $base-color;
  }
}
.meta {
  color: #8f8f8f;
  font-size: 12px;
  margin-top: -18px;
}
.search-box {
  width: 80%;
  height: 50px;
  border: 1px solid $base-color;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 20px;
  color: $base-color;
}
.search-btn {
  z-index: 1;
  left: -50px;
  position: relative;
  top: 2px;
  cursor: pointer;
  width: 0;
  color: $base-color;
}
.search-block {
  transition: 0.3s ease;
  .date-time {
    display: inline;
    margin-left: 10px;
    font-size: 12px;
    color: gray;
  }
  &:hover {
    margin-left: -10px;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: $base-color;
  img {
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  p {
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: $base-font-family;
    margin: 0;
  }
  .menu {
    ul {
      margin-top: 50px;
      margin-bottom: 0;
      li {
        list-style: none;
        line-height: 50px;
        a {
          text-decoration: none;
          color: white;
          font-family: $base-font-family;
          font-size: 24px;
        }
        &:hover {
          transform: scale(1.1);
          transition:all 0.5s;
        }
      }
    }
  }
}
.container {
  padding-left: 400px;
  max-width: 700px;
  line-height: 25px;
  height: 100%;
  .content {
    min-height: calc(100% - 110px);
    // overflow: auto;
  }
  h1, h2, h3, h4, h5, h6, th {
    font-family: $title-font-family;
  }
  p, ul li, ol li, td {
    font-family: $content-font-family;
  }
}
.tag {
  text-decoration: none;
  color: $base-color;
  margin-left: 15px;
  &:hover {
    color: white;
    background: $base-color;
  }
}
footer {
  text-align: center;
  // width: calc(100% - 350px);
  // position: absolute;
  // bottom: 0;
  line-height: 50px;
  font-family: $base-font-family;
  span {
    animation: blink 1s ease-in infinite;
  }
}
@keyframes blink {
  100% { opacity: 0}
}

// Responsive
@media screen and (max-width: 900px) , screen and (max-height: 570px) {
  .sidebar {
    height: 50px;
    width: 100%;
    img {
      width: 40px;
      margin-top: 5px;
      margin-left: 20px;
      border-radius: 100px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .container {
    padding-left: 100px;
  }
}
