<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Source+Code+Pro" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <img src="{{ site.avatar }}" alt="avatar" draggable="false">
      <p>{{ site.username }}</p>
      <div class="menu">
        <ul>
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
          <li><a href="/pages/blog"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Blog</a></li>
          <li><a href="/pages/search"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a></li>
          <li><a href="/"><i class="fa fa-gamepad " aria-hidden="true"></i>&nbsp;Game</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div style="height: 20px"></div>
      <div class="content" id="content">
        {{ content }}
      </div>
      <footer>Make with <span style="color: palevioletred">❤</span></footer>
    </div>
  </div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% if page.external == "mathjax" %}
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {% endif %}
</body>
</html>
