<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Source+Code+Pro" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <img src="https://avatars0.githubusercontent.com/u/26478347?v=3&u=5b57c96c0ad797a179dd6265e095ea49e8c49480&s=400" alt="avatar">
      <p>@Thanh Nguyen</p>
      <div class="menu">
        <ul>
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
          <li><a href="/"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Blog</a></li>
          <li><a href="/"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a></li>
          <li><a href="/"><i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;Project</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div style="height: 20px"></div>
      {{ content }}
    </div>
  </div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</body>
</html>
